<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/"></script>
</head>
<body>
  <table >
    <tr >
                <td >答辩组组名</td>
                <td >答辩教室</td>
            </tr>
         #foreach($bmStudent in $teacherGroup.bmStudents)
            <tr >
                <td >$bmStudent.name</td>
                <td >$bmStudent.bmTopic.name</td>
            </tr>
        #end

    </table>

</body>
</html>
